<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <div class="bo">
        <div class="logo">
            <img src="{%static 'img/logo.png'%}" alt="logo" height="70px">
            <h1>Milisa Library</h1>
        </div>
        <div class="nav">
            <li>
                <a href="http://127.0.0.1:8000/home/"><ol>Home</ol></a>
                <ul>||</ul>
                <a href="http://127.0.0.1:8000/book/"><ol>  Books</ol></a>
                <ul>||</ul>
                <a href="http://127.0.0.1:8000/account"><ol>  Account</ol></a>
            </li>
        </div>

        <div class="mycard">
                    <h1>Library Books</h1>
                    <ul>

                        {% for book in books %}
                            <li><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></li>
                            {% empty %}
                            <li>No books available.</li>
                        {% endfor %}
                    </ul>
        </div>
        <footer>
            <hr>
            <p>@milisa 2024</p>
        </footer>
    </div>
  
</body>
</html>