<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <div class="bod">
        <div class="logo">
            <img src="{%static 'img/logo.png'%}" alt="logo" height="70px">
            <h1>Milisa Library</h1>
        </div>
        <div class="nav">
            <li>
                <a href="http://127.0.0.1:8000/home/"><ol>Home</ol></a>
                <ul>||</ul>
                <a href="http://127.0.0.1:8000/book/"><ol>  Books</ol></a>
                <ul>||</ul>
                <a href="http://127.0.0.1:8000/account"><ol>  Account</ol></a>
            </li>
        </div>
        <div class="quote">
            <div class="par">
                <p>"Knowledge is the treasure, but judgment is the treasurer of the wisdom."</p>
                <p style="color: #0d0d0d;"> — Jonathan Swift</p>
            </div>
            <div class="img">
                <img src="{%static 'img/img1.png'%}" alt="" width="100%">
            </div>
            
        </div>
        <div class="content">
            <div class="heading">
                <H2>Hello Readers</H2>
                <p>Welcome to Library. We have large collection of books to cater the needs of all kinds of readers.</p>
            </div>
            <div class="contents">
                <div class="imp">
                    <h3>Why reading is important?</h3>
                    <p>Reading is crucial as it broadens knowledge and enhances cognitive skills, improving focus and critical thinking. Additionally, it provides relaxation, fosters empathy, and supports lifelong learning, contributing to personal and professional growth.</p>
                </div>
                <div class="imp">
                    <h3>Key Concepts:</h3>
                    <li>Expands Knowledge: Provides information and new perspectives.</li>
                    <li>Boosts Cognitive Skills: Improves focus, critical thinking, and language abilities.</li> 
                    <li>Reduces Stress: Offers relaxation and escapism.</li>    
                    <li>Fosters Empathy: Helps understand different viewpoints.</li>    
                    <li>Supports Lifelong Learning: Encourages continuous personal and professional growth.</li>
                </div>
            </div>
            
        </div>
        <footer>
            <hr>
            <p>@milisa 2024</p>
        </footer>
    </div>
  
</body>
</html>